.main {
   text-align: center;
   padding-bottom: 173px;

   @include media($md) {
      padding-bottom: 100px;
   }

   @include media($xs) {
      padding-bottom: 50px;
   }


   &__title {
      max-width: 479px;
      width: 100%;
      margin: 0 auto;
      font-weight: 600;
      font-size: 42px;
      line-height: 120%;
      text-transform: uppercase;
      margin-top: 140px;

      span {
         font-weight: 900;
         font-style: italic;
      }

      @include media($md) {
         font-size: 36px;
         margin-top: 80px;
      }

      @include media($xs) {
         font-size: 33px;
      }
   }

   &__desc {
      max-width: 660px;
      width: 100%;
      margin: 0 auto;
      font-size: 22px;
      letter-spacing: 0.01em;
      margin-top: 33px;

      @include media($md) {
         font-size: 18px;
         max-width: 500px;
      }

      @include media($xs) {
         max-width: 300px;
      }
   }

   .cards {
      margin-top: 40px;
   }

   .first {
      background: url(./images/slide1-bg.jpg);
   }

   .second {
      background: url(./images/slide2-bg.jpg);
   }

   .third {
      background: url(./images/slide3-bg.jpg);
   }

   .fourth {
      background: url(./images/slide4-bg.jpg);
   }

   .card {
      width: 100%;
      padding: 42px;
      border-radius: 30px;
      margin: 0 auto;
      margin-bottom: 40px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include media(1300px) {
         width: 90%;
      }

      @include media($md) {
         padding: 25px;
      }

      @include media($xs) {
         width: 100%;
      }

      &__wrapper {
         display: flex;
         align-items: center;
         justify-content: space-between;

         @include media($md) {
            flex-direction: column-reverse;
            justify-content: center;
         }
      }

      &__content {
         text-align: left;
         margin-left: 70px;
         max-width: 334px;
         width: 100%;

         @include media($lg) {
            margin-left: 0;
         }

         @include media($md) {
            max-width: 240px;
         }
      }

      &__title {
         max-width: 334px;
         width: 100%;
         font-weight: 800;
         font-size: 42px;
         line-height: 120%;
         margin-bottom: 2px;
         text-transform: uppercase;

         @include media($lg) {
            font-size: 36px;
         }

         @include media($md) {
            margin-top: 30px;
         }

         @include media($xs) {
            font-size: 30px;
         }
      }

      &__price {
         font-weight: 300;
         font-size: 40px;
         margin-bottom: 25px;
         display: flex;
         align-items: center;

         .icon-user {
            display: flex;
            align-items: center;
            margin-left: 5px;
            margin-bottom: -5px;
         }

         @include media($md) {
            font-size: 30px;
            margin-top: 15px;
         }
      }

      &__btn {
         border-radius: 100px;
         text-align: center;
         padding: 18px 20px 20px;
         max-width: 226px;
         width: 100%;
         font-size: 16px;
         font-weight: 600;
         border: none;
         background: $body;

         .icon-showdown {
            margin-left: 10px;
         }
      }

      .packets {
         width: 100%;
         padding: 42px 0 10px;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 25px;
         overflow-x: auto;

         @include media($lg) {
            grid-template-columns: repeat(3, 360px);
         }

         @include media($xs) {
            grid-template-columns: repeat(3, 310px);
         }

         @include media(410px) {
            grid-template-columns: repeat(3, 100%);
         }
      }

      .packets::-webkit-scrollbar {
         display: none;
      }

      .packet {
         background: $packet-bg;
         border: 1px solid $bg;
         border-radius: 30px;
         padding: 30px 35px 35px 40px;
         transition: 0.5s;
         min-height: 710px;
         display: flex;
         flex-direction: column;

         @include media(1300px) {
            padding: 25px 30px 30px 35px;
            min-height: 680px;
         }

         @include media($xs) {
            padding: 24px 24px 30px 28px;
         }

         &__title {
            font-weight: 800;
            font-size: 35px;
            line-height: 100%;
            margin-bottom: 10px;

            @include media(1300px) {
               font-size: 30px;
            }

            @include media($xs) {
               font-size: 27px;
            }
         }

         &__price {
            font-weight: 800;
            font-size: 25px;
            text-align: center;
            max-width: 160px;
            width: 100%;
            padding: 2px 15px;
            margin: 0 auto;
            margin-bottom: 10px;
            background: $body;
            transition: 0.5s;

            @include media(1300px) {
               font-size: 22px;
            }

            @include media($md) {
               max-width: 120px;
            }
         }

         &__desc {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 15px;

            @include media(1300px) {
               font-size: 18px;
            }
         }

         &__subtitle {
            font-weight: 800;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 3px;
         }

         &__list {
            list-style: disc;
            text-align: left;

            li {
               font-weight: 400;
               font-size: 14px;
               line-height: 100%;
               margin-left: 20px;
            }

            &.info {
               margin-top: 10px;
            }
         }
      }

      .packet:hover {
         background: $body;

         .packet__price {
            background: $bg;
         }

         .order__btn {
            background: $bg;
            color: $body;
         }
      }

      .decor,
      .services,
      .foods {
         text-align: left;
         margin-bottom: 32px;
      }
   }

   .packet__info {
      display: flex;
      align-items: flex-end;
      margin-top: 15px;
      flex-grow: 2;

      .packet__icon {
         width: 15px;
         height: 15px;
         display: flex;
         justify-content: center;
         align-items: center;
         background: $bg;
         border-radius: 50%;
         margin: 0;
      }

      .more {
         font-weight: 700;
         font-size: 13px;
         line-height: 100%;
         text-decoration: underline;
         margin-left: 7px;
      }
   }

   .order {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;

      &__btn {
         padding: 18px 25px 20px;
         font-weight: 600;
         font-size: 16px;
         text-align: center;
         background: $body;
         border: 1px solid rgba(0, 0, 0, 0.2);
         border-radius: 100px;
         transition: 0.5s;

         @include media(1300px) {
            font-size: 14px;
            padding: 15px 20px 17px;
         }
      }

      &__pdf {
         width: 58px;
         height: 58px;
         background: $body;
         border: 1px solid rgba(0, 0, 0, 0.2);
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         padding-left: 2px;

         @include media(1300px) {
            width: 40px;
            height: 40px;
         }
      }

      .order__icon {
         @include media(1300px) {
            width: 16px;
            height: 26px;
         }
      }
   }

   .slider {
      position: relative;
      max-width: 638px;
         width: 100%;
         overflow: hidden;
         position: relative;

         @include media(1300px) {
            max-width: 500px;
         }

         @include media($md) {
            max-width: 600px;
         }

         @include media($sm) {
            max-width: 430px;
         }

         .slick-arrow {
            position: absolute;
            z-index: 19;
            border: none;
            background: none;
            top: 161px;

            @include media(1300px) {
               top: 45%;
            }

            &.slick-prev {
               left: 30px;
            }

            &.slick-next {
               right: 30px;
            }
         }

         .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 19;
            bottom: 22px;
            width: 100%;

            & button {
               width: 8px;
               height: 8px;
               font-size: 0;
               background: none;
               border: 1px solid $body;
               border-radius: 50%;
               margin: 0 4px;
            }

            & li.slick-active {
               border: none;
               
               button {
                  background: $body;
               }
            }
         }

      &__img {
         max-width: 638px;
         width: 100%;
         object-fit: cover;
         object-position: center;
         border-radius: 30px;

         @include media(1300px) {
            max-width: 500px;
         }

         @include media($md) {
            max-width: 600px;
         }

         @include media($sm) {
            max-width: 430px;
         }

         @include media($xs) {
            min-height: 205px;
         }
      }
   }

   .slick-track {
      display: flex;
   }
}