main.main 
   h4.main__title 
      | услуги кейтеринга
      br
      | в пакеты 
      span НЕ 
      | входят 
   p.main__desc 
      | Мы с удовольствием порекомендуем вам проверенных
      br
      | подрядчиков, которые делают самые вкусные и красивые
      br
      | банкеты и фуршеты!