.main {
   text-align: center;
   padding-bottom: 173px;

   &__title {
      max-width: 479px;
      width: 100%;
      margin: 0 auto;
      font-weight: 600;
      font-size: 42px;
      line-height: 120%;
      text-transform: uppercase;
      margin-top: 180px;

      span {
         font-weight: 900;
         font-style: italic;
      }
   }

   &__desc {
      max-width: 660px;
      width: 100%;
      margin: 0 auto;
      font-size: 22px;
      letter-spacing: 0.01em;
      margin-top: 33px;
   }
}