.header {
   background: $header-bg;
   color: $body;
   height: 100vh;
   position: relative;
   display: flex;

   @include media($sm) {
      height: 100vh;
   }

   @include media($xs) {
      height: 852px;
   }

   .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .vectors {
      position: absolute;
      z-index: 2;
   }

   .a20x20 {
      left: 4.24%;
      top: 23.8%;

      @include media($md) {
         width: 10px;
         height: 10px;
      }
   }

   .b121x108 {
      left: 27.08%;
      top: 13%;

      @include media($md) {
         width: 85px;
         height: 76px;
      }
   }

   .c20x20center {
      left: 53.12%;
      top: 25.75%;

      @include media($md) {
         width: 10px;
         height: 10px;
      }
   }

   .d29x26 {
      right: 3.89%;
      top: 60.99%;

      @include media($md) {
         width: 20px;
         height: 18px;
      }
   }

   .e79x75 {
      right: 29.82%;
      top: 8.09%;

      @include media($md) {
         width: 55px;
         height: 52px;
      }
   }

   .f111x89 {
      left: 11.75%;
      top: 73.34%;

      @include media($md) {
         width: 78px;
         height: 62px;
      }
   }

   .g82x102f {
      right: 16.18%;
      top: 71.1%;

      @include media($md) {
         width: 57px;
         height: 71px;
         top: 75%;
      }
   }


   &__content {
      position: relative;
      text-align: center;
   }

   .mobile1,
   .mobile2 {
      display: none;

      @include media($xs) {
         display: flex;
      }
   }

   .mobile1 {
      max-width: 180px;
      position: absolute;
      top: 35%;
      right: 5%;

      .key {
         margin-right: -10px;
      }

      @include media(520px) {
         top: 35%;
      }

      @include media(463px) {
         top: 47%;
      }
   }

   .mobile2 {
      transform: none;
      margin-top: 20px;
      max-width: 300px;
   }

   &__bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 242px;

      @include media(1330px) {
         min-height: 200px;
      }

      @include media($lg) {
         min-height: 160px;
      }

      @include media($md) {
         min-height: 130px;
      }

      @include media($sm) {
         min-height: 335px;
      }

      @include media(520px) {
         min-height: 60%;
      }

      @include media(463px) {
         min-height: 67%;
      }
   }

   &__title {
      font-family: $font-Neue;
      font-weight: 800;
      font-size: 202.118px;
      line-height: 120%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      background: #000;
      mix-blend-mode: multiply;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @include media(1330px) {
         font-size: 180px;
      }

      @include media($lg) {
         font-size: 150px;
      }

      @include media($md) {
         font-size: 114px;
         word-wrap: break-word;
      }

      @include media($sm) {
         font-size: 140px;
         display: block;
      }

      @include media(520px) {
         font-size: 123px;
         text-align: left;
      }
   }

   &__subtitle {
      position: relative;
      font-weight: 700;
      font-size: 40px;
      z-index: 9;
      background: $body;
      color: $color;
      max-width: 718px;
      width: 100%;
      border-radius: 25px;
      margin: -25px auto 0;
      transform: rotate(5deg);
      padding: 0 18px 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      .key {
         margin: 0 10px -10px;
         transform: rotate(-2deg);
      }

      @include media($lg) {
         font-size: 36px;
         max-width: 650px;
      }

      @include media($md) {
         font-size: 28px;
         max-width: 500px;

         .key {
            width: 30px;
            height: 30px;
            margin-bottom: -5px;
         }
      }

      @include media($sm) {
         font-size: 26px;
         max-width: 450px;
      }

      @include media($xs) {
         display: none;
      }
   }

   &__desc {
      font-size: 22px;
      letter-spacing: 0.01em;
      text-align: center;
      max-width: 535px;
      width: 100%;
      display: inline-block;
      margin-top: 85px;

      @include media($lg) {
         margin-top: 50px;
         font-size: 20px;
      }

      @include media($sm) {
         font-size: 18px;
      }
   }

   .swipe {
      text-align: center;
   }

   &__icon {
      box-sizing: content-box;
      border: 2px solid #F86AE0;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 42px;
      display: inline-block;
      padding: 10px;
      width: 16px;
      height: 16px;

      @include media($sm) {
         margin-bottom: 30px;
         margin-top: 20px;
      }
   }
}