footer.footer 
   .container 
      .footer__info 
         a.logo(href="")
            img.logo__img(src=require("../../images/Logo.png"), alt="logo")
         .contacts
            a.contacts__link(href="tel:+79956228279") +7 995 622 82 79 
            a.contacts__link(href="tel:+88124679061") 8 (812) 467 90 61
      .footer__content
         p.footer__desc © UNO Agency. All rights reserved
            br
            a(href="https://uno-event.ru/privacy-policy") Политика конфидециальности
         ul.social-media 
            a.social-media__link.icon-vk(href="https://vk.com/loft_port")
            a.social-media__link.icon-facebook(href="https://instagram.com/loftportspb?igshid=MWI4MTIyMDE=")
            a.social-media__link.icon-instagram(href="https://www.facebook.com/LoftPortSpb")

