nav.nav 
   a.logo(href="")
      img.logo__img(src=require("../../images/Logo.png"), alt="logo")
   button.burger 
      span.icon-phone.burger__icon
   ul.menu
      -var links = [ 'площадки', 'Мероприятия под ключ' ]
      each val in links
         li
            a(href="#").menu__link= val
   .contacts
      a.contacts__link(href="tel:+79956228279") +7 995 622 82 79 
      a.contacts__link(href="tel:+88124679061") 8 (812) 467 90 61 
      ul.menu
         -var links = [ 'площадки', 'Мероприятия под ключ' ]
         each val in links
            li
               a(href="#").menu__link= val